body { background: hsl(0, 0%, 88%); }
.bootstrap { float: left; max-height: 125px; }

/* Nav bar datos docente */
.nav-bar-docente{
    background:hsl(0, 0%, 100%);
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}

/* Grupo de botones de escuelas */
.box-subir-archivo .row-container .panel-izquierdo .row-btns .btn-group{
    margin-top: 1%;
    color: black;
    background:hsl(0, 0%, 100%);
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}

/* Margen div creador y subir archivos */
.box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos{
    margin-top: 4%;
}

/* Sombra de panel subir archivos */
.box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-enviar-archivos .container-subir-archivos{
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}

/* columna izquierda columna creador */

    /* sombra */
    .box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-creador .row-creador-container .f-row{
        box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    }

    /* padding textos*/
    .box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-creador .row-creador-container .texto-creador{
        padding-top: 15px;
    }

    .box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-creador .row-creador-container .div-mensaje{
        padding-top: 10px;
        box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    }

/* columna derecha subir archivos */
.box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-subir-archivos .row-subir-archivo{
    background:hsl(0, 0%, 100%);
}

    /* Padding para centrar el contenido del panel subir archivos */
    .box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-subir-archivos .row-subir-archivo .container-subir-archivos{
        padding-right: 10%;
        padding-left: 10%;
    }

    /* Margenes */
    .box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-subir-archivos .row-subir-archivo .container-subir-archivos .btn-seleccionar-archivos{
        margin-top: 50%;
        margin-bottom: 50%;
    }

    .box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-subir-archivos .row-subir-archivo .container-subir-archivos .btn-enviar-archivos{
        margin-bottom: 8%;
    }

    /* Sombra del boron seleccionar archivo */
    .box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-subir-archivos .row-subir-archivo .container-subir-archivos .btn-seleccionar-archivos button{
        box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    }

    .box-subir-archivo .row-container .panel-izquierdo .panel-subir-archivos .col-subir-archivos .row-subir-archivo .container-subir-archivos .btn-enviar-archivos button{
        width: 70%;
        box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    }

/* Panel Info Docente */
.box-subir-archivo .row-container .panel-derecho{
    background:hsl(0, 0%, 100%);
}

.box-subir-archivo .row-container .panel-derecho .row{
    margin-top: 5%;
    margin-bottom: 5%;
}

.box-subir-archivo .row-container .panel-derecho .container-photo{
    margin-top: 5%;
    margin-bottom: 15%;
}